{% extends 'book/base.html' %}

{% block content %}

<div class="card mb-3 mx-auto mt-3 p-3 bg-dark" style="block-size:fit-content;width:75vh">
  <div class="card-header bg-white">
      <h1 class="text-center">{{author.name}}</h1>
  </div>
  <div class="card-body ">
    <h4 class="card-title text-center text-white">His Books :</h4>
    <div class="card-body ">
        {% for book in books %}
        <ul class="text-white p-3 fs-5">
            <li><a class="text-decoration-none" href="/books/{{book.id}}">Name : {{book.name}}</a></li>
            <li>{{book.publish_date}}</li>
        </ul>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}